.git
.env
.env.*
!.env.example
vendor
node_modules
public/hot
public/build
public/cartes
public/storage
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
database/database.sqlite
docs
bootstrap/cache/*.php
